@import "../../../../../../app/assets/stylesheets/lib/base.less";
@import "../../../../../../app/assets/stylesheets/lib/lib.less";
@import "../../../../../../app/assets/stylesheets/lib/form.less";
@import "../../../../../../app/assets/stylesheets/lib/card.less";

.links {
  .simple-card;
  a { margin-right: 10px; }
}

.upcoming-transactions,
.pending-transactions,
.recent-transactions,
.projections {
  .card;

  td.amount-income { color: #3C763D; }
  td.amount-expense { color: #A94442; }
}
