@import "../../../../../../app/assets/stylesheets/lib/base.less";
@import "../../../../../../app/assets/stylesheets/lib/lib.less";
@import "../../../../../../app/assets/stylesheets/lib/form.less";
@import "../../../../../../app/assets/stylesheets/lib/card.less";

.overview {
  .card;
  padding: 2 * @card-base-spacing;
  margin-bottom: (@card-base-spacing * 2);
  .links-primary { .unstyled-list; }
}

.upcoming-transactions {
  .card;
  padding: 2 * @card-base-spacing;
  margin-bottom: (@card-base-spacing * 2);

  table {
    width: 100%;

    th { text-align: left; }

    td.amount-income { color: green; }
    td.amount-expense { color: red; }
  }
}
