<div class="dialog-header">
  <h1>Choose Author</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
  </ul>
</div>

<form class="selector">
  <div class="field">
    <input type="text" name="query" placeholder="Search by name&hellip;" value="{{query}}"></input>
  </div>
</form>

<ol class="authors">
  {{#each authors}}
    <li >
      <a href="#" class="existing-author" data-guid={{guid}}>
        <p class="primary">
          {{name}}
        </p>
      </a>
    </li>
  {{/each}}

  {{#if query}}
    <li>
      <a href="#" class="new-author">
        <p class="primary">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add <b>{{query}}</b>
        </p>
      </a>
    </li>
  {{/if}}
</ol>
