@import play.api.libs.json.{ Json, Writes }
@import controllers.bookclub.Application.Bootstrap

@(bootstrap: Bootstrap, javascriptRouter: JavaScript)(implicit writes: Writes[Bootstrap])

@com.granmal.views.html.layout.simpleLayout(Some("bookclub"), "Book Club")(controllers.bookclub.routes.Assets.versioned) {

  <div id="main">
    @com.granmal.views.html.prestitial.fake()
  </div>

  <div class="alert"></div>

  <script type="text/javascript">
    @Html(javascriptRouter.body)

    var require = {
      config: {
        'bootstrap': @Html(Json.stringify(Json.toJson(bootstrap))),
        'bookclub/routers/server': Router.controllers.bookclub
      }
    };
  </script>

}
