.form-section {
  padding: 40px 20px;

  .alert {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;

    span.glyphicon {
      margin-right: 5px;
      &.glyphicon-thumbs-down { color: red; }
    }
  }

  form {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 1.2em;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #DDD;
      border: 1px solid #BBB;
      font-size: 1.2em;
    }
  }
}
