<header>
  <h1>New Haiku</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
  </ul>
</header>

<form>

  <div class="field">
    <input type="text" name="one" id="one" value="" placeholder="Fünf">
  </div>

  <div class="field">
    <input type="text" name="two" id="two" value="" placeholder="Sieben">
  </div>

  <div class="field">
    <input type="text" name="three" id="three" value="" placeholder="Fünf">
  </div>

  <button type="submit">Verkünden!</button>

  <ul class="alternate-actions">
    <li><a href="/haikunst">Cancel</a></li>
  </ul>

</form>
