<header>
  <h1>New Haiku</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
  </ul>
</header>

<main class="form">
  <form>
    <div class="field">
      <input type="text" name="one" value="" placeholder="Fünf">
    </div>

    <div class="field">
      <input type="text" name="two" value="" placeholder="Sieben">
    </div>

    <div class="field">
      <input type="text" name="three" value="" placeholder="Fünf">
    </div>

    <button type="submit">Verkünden!</button>
  </form>
</main>
