<header>
  <h1>Budget</h1>

  <ul class="right-actions">
    <li>
      <a href="/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </li>
  </ul>
</header>

<main>
  <h1>Budget</h1>
</main>
