<header>
  <h1>Budget</h1>

  <ul class="right-actions">
    <li>
      <a href="/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </li>
  </ul>
</header>

<main>
  <div class="overview">
    <ul class="links-primary">
      <li><a class="plan" href="#">Plan</a></li>
      <li><a class="resolve" href="#">Resolve</a></li>
      <li><a class="review" href="#">Review</a></li>
    </ul>
  </div>
</main>
