@(
  user: Option[json.JsObject],
  lastNote: Option[json.JsObject]
)(
  implicit request: play.api.mvc.RequestHeader
)

@layout {

  <div id="main">
  </div>

  <script id="new-note-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>New Note</h1>
    </div>

    <form>
      <div class="field">
        <input type="text" name="book_name" placeholder="Book" value="{{bookName}}"></input>

        {{#if bookError}}
          <ol class="input-messages">
            <li class="input-error">{{bookError}}</li>
          </ol>
        {{/if}}
      </div>

      <div class="split">
        <div class="left-split">
          <div class="field">
            <input type="text" name="page_number" placeholder="Page" value="{{pageNumber}}"></input>

            {{#if pageNumberError}}
              <ol class="input-messages">
                <li class="input-error">{{pageNumberError}}</li>
              </ol>
            {{/if}}
          </div>
        </div>

        <div class="right-split">
          <div class="field">
            <input type="text" name="page_count" placeholder="Total" value="{{pageCount}}"></input>

            {{#if pageCountError}}
              <ol class="input-messages">
                <li class="input-error">{{pageCountError}}</li>
              </ol>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="field">
        <textarea name="content" rows="5">{{content}}</textarea>

        {{#if contentError}}
          <ol class="input-messages">
            <li class="input-error">{{contentError}}</li>
          </ol>
        {{/if}}
      </div>

      <button type="submit">Add Note</button>
    <form>
  </script>

  <script id="new-book-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>New Book</h1>
    </div>

    <form>
      <div class="field">
        <input type="text" name="title" placeholder="Title" value="{{title}}"></input>

        {{#if titleError}}
          <ol class="input-messages">
            <li class="input-error">{{titleError}}</li>
          </ol>
        {{/if}}
      </div>

      <div class="field">
        <input type="text" name="author_name" placeholder="Author" value="{{authorName}}"></input>

        {{#if authorError}}
          <ol class="input-messages">
            <li class="input-error">{{authorError}}</li>
          </ol>
        {{/if}}
      </div>

      <button type="submit">Add Book</button>
    </form>
  </script>

  <script id="author-selector-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>Choose Author</h1>
    </div>

    <form class="selector">
      <div class="field">
        <input type="text" name="query" placeholder="Search by name&hellip;" value="{{query}}"></input>
      </div>
    </form>

    <ol class="authors">
      {{#each authors}}
        <li >
          <a href="#" class="existing-author" data-guid={{guid}}>
            <p class="primary">
              {{name}}
            </p>
          </a>
        </li>
      {{/each}}

      {{#if query}}
        <li>
          <a href="#" class="new-author">
            <p class="primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add <b>{{query}}</b>
            </p>
          </a>
        </li>
      {{/if}}
    </ol>
  </script>

  @views.html.helper.javascriptRouter("serverRoutes")(
    controllers.bookclub.routes.javascript.Application.findAuthors,
    controllers.bookclub.routes.javascript.Application.createBook
  )

  <script>
    define('routers/server', function() {
      var app = serverRoutes.controllers.bookclub.Application;

      return {
        signIn: function() {
          return { url: '/sign-in' };
        },
        findAuthors: app.findAuthors,
        createBook: app.createBook
      };
    });

    require(['lib', 'app', 'models/note'], function(lib, App, Note) {
      var user, lastNote;

      @user.map { user =>
        user = @Html(json.Json.stringify(user));
      }

      @lastNote.map { lastNote =>
        lastNote = new Note(@Html(json.Json.stringify(lastNote)));
      }

      window.App = new App({
        user: user,
        lastNote: lastNote
      });

      lib.ensureFullPage();
      window.App.init();
    });
  </script>

}
