@import com.granmal.helpers.UrlHelper

@(
  user: Option[json.JsObject],
  initialNotes: Page[json.JsValue],
  lastNote: Option[json.JsValue],
  currentNote: Option[json.JsValue]
)(
  implicit request: play.api.mvc.RequestHeader
)

@layout {

  <div id="main">
  </div>

  <script id="index-template" type="text/x-handlebars-template">
    <div class="header">
      <h1>Book Club</h1>

      <ul class="right-actions">
        <li>
          <a href="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>
        </li>

        <li>
          <a class="new-note" href="#">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
      </ul>
    </div>

    <ol class="notes">
      {{#each notes}}
        <li class="note" data-guid="{{guid}}">
          <p class="content">{{content}}</p>
          <p class="details">
            {{#if created_by.user.name}}
              <a class="name" href="#">{{created_by.user.name}}</a>
            {{else}}
              <a class="handle" href="#">{{created_by.user.handle}}</a>
            {{/if}}
            at
            <span class="page-number">p.{{page_number}}</span>
            of
            <a class="title" href="#">{{book.title}}</a>
            by
            <span class="author">{{book.author.name}}</span>
          </p>
        </li>
      {{/each}}

      {{#if hasNextPage}}
        <li class="load-more">
          <a href="#">Load More</a>
        </li>
      {{/if}}
    </ol>
  </script>

  <script id="show-note-template" type="text/x-handlebars-template">
    <div class="header">
      <h1>
        Book Club
      </h1>

      <ul class="right-actions">
        <li>
          <a href="#" class="close">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
      </ul>
    </div>

    {{#with note}}
      <div class="note">
        <p class="content">{{content}}</p>

        <p class="created-by">
          {{#if created_by.user.name}}
            <a class="name" href="#">{{created_by.user.name}}</a>
          {{else}}
            <a class="handle" href="#">{{created_by.user.handle}}</a>
          {{/if}}
        </p>

        <p class="page-details">
          <span class="page-number">p.{{page_number}}</span>
          of
          <a class="title" href="#">{{book.title}}</a>
          by
          <span class="author">{{book.author.name}}</span>
        </p>

        <p class="created-at">
          {{created_at}}
        </p>
      </div>
    {{/with}}
  </script>

  <script id="new-note-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>New Note</h1>

      <ul class="right-actions">
        <li>
          <a href="#" class="close">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
      </ul>
    </div>

    <form>
      <div class="field">
        <input type="text" name="book_title" placeholder="Book" value="{{bookTitle}}"></input>

        {{#if errors.book}}
          <ol class="input-messages">
            <li class="input-error">{{errors.book}}</li>
          </ol>
        {{/if}}
      </div>

      <div class="split field-group">
        <div class="left-split">
          <div class="field">
            <input type="text" name="page_number" placeholder="Page" value="{{pageNumber}}"></input>
          </div>
        </div>

        <div class="right-split">
          <div class="field">
            <input type="text" name="page_total" placeholder="Total" value="{{pageTotal}}"></input>
          </div>
        </div>

        {{#if errors.pages}}
          <ol class="input-messages">
            <li class="input-error">{{errors.pages}}</li>
          </ol>
        {{/if}}
      </div>

      <div class="field">
        <textarea name="content" rows="5">{{content}}</textarea>

        {{#if errors.content}}
          <ol class="input-messages">
            <li class="input-error">{{errors.content}}</li>
          </ol>
        {{/if}}
      </div>

      <button type="submit">Add Note</button>
    <form>
  </script>

  <script id="book-selector-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>Choose Book</h1>

      <ul class="right-actions">
        <li>
          <a href="#" class="close">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
      </ul>
    </div>

    <form class="selector">
      <div class="field">
        <input type="text" name="query" placeholder="Search by title&hellip;" value="{{query}}"></input>
      </div>
    </form>

    <ol class="books">
      {{#each books}}
        <li >
          <a href="#" class="existing-book" data-guid={{guid}}>
            <p class="primary">{{title}}</p>
            <p class="secondary">{{author.name}}</p>
          </a>
        </li>
      {{/each}}

      {{#if query}}
        <li>
          <a href="#" class="new-book">
            <p class="primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add <b>{{query}}</b>
            </p>
          </a>
        </li>
      {{/if}}
    </ol>
  </script>

  <script id="new-book-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>New Book</h1>

      <ul class="right-actions">
        <li>
          <a href="#" class="close">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
      </ul>
    </div>

    <form>
      <div class="field">
        <input type="text" name="title" placeholder="Title" value="{{title}}"></input>

        {{#if titleError}}
          <ol class="input-messages">
            <li class="input-error">{{titleError}}</li>
          </ol>
        {{/if}}
      </div>

      <div class="field">
        <input type="text" name="author_name" placeholder="Author" value="{{authorName}}"></input>

        {{#if authorError}}
          <ol class="input-messages">
            <li class="input-error">{{authorError}}</li>
          </ol>
        {{/if}}
      </div>

      <button type="submit">Add Book</button>
    </form>
  </script>

  <script id="author-selector-template" type="text/x-handlebars-template">
    <div class="dialog-header">
      <h1>Choose Author</h1>

      <ul class="right-actions">
        <li>
          <a href="#" class="close">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
      </ul>
    </div>

    <form class="selector">
      <div class="field">
        <input type="text" name="query" placeholder="Search by name&hellip;" value="{{query}}"></input>
      </div>
    </form>

    <ol class="authors">
      {{#each authors}}
        <li >
          <a href="#" class="existing-author" data-guid={{guid}}>
            <p class="primary">
              {{name}}
            </p>
          </a>
        </li>
      {{/each}}

      {{#if query}}
        <li>
          <a href="#" class="new-author">
            <p class="primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add <b>{{query}}</b>
            </p>
          </a>
        </li>
      {{/if}}
    </ol>
  </script>

  @views.html.helper.javascriptRouter("serverRoutes")(
    controllers.bookclub.routes.javascript.Application.findNotes,
    controllers.bookclub.routes.javascript.Application.findAuthors,
    controllers.bookclub.routes.javascript.Application.findBooks,
    controllers.bookclub.routes.javascript.Application.createBook,
    controllers.bookclub.routes.javascript.Application.createNote
  )

  <script>
    define('routers/server', function() {
      var app = serverRoutes.controllers.bookclub.Application;

      return {
        signIn: function() {
          return { url: '/sign-in' };
        },
        findNotes: app.findNotes,
        findAuthors: app.findAuthors,
        findBooks: app.findBooks,
        createBook: app.createBook,
        createNote: app.createNote
      };
    });

    define('data', function() {
      var data = {}

      data.initialNotes = @Html(json.Json.stringify(json.Json.toJson(initialNotes.items)));

      @user.map { user =>
        data.user = @Html(json.Json.stringify(user));
      }

      @initialNotes.next.flatMap(UrlHelper.getRawQueryString(_)).map { next =>
        data.nextPageQuery = "@Html(next)";
      }

      @currentNote.map { currentNote =>
        data.currentNote = @Html(json.Json.stringify(currentNote));
      }

      @lastNote.map { lastNote =>
        data.lastNote = @Html(json.Json.stringify(lastNote));
      }

      return data;
    });
  </script>

}
