@(lastNote: Option[json.JsObject] = None)

@layout {

  <div id="main">
  </div>

  <script id="new-note-template" type="text/x-handlebars-template">
    <h1>New Note</h1>
  </script>

  <script id="new-book-template" type="text/x-handlebars-template">
    <h1>New Book</h1>
  </script>

  <script>
    require(['app', 'models/book'], function(App, Book) {
      var lastNote;

      @lastNote.foreach { lastNote =>
        lastNote = new Book(@json.Json.stringify(lastNote));
      }

      window.App = new App({
        lastNote: lastNote
      });

      window.App.init();
    });
  </script>

}
