@(signUpForm: Form[controllers.core.AccountController.SignUpData])(implicit _flash: Flash)

@import helpers.FormHelper._

@views.html.core.layout {

  @views.html.core.nav()

  <div class="form-group">

    @flash.form()

    @helper.form(action = controllers.core.routes.AccountController.create()) {

      @emailField("Email", signUpForm("email"))

      @passwordField("Password", signUpForm("password"))

      @textField("Handle", signUpForm("handle"))

      @textField("Full Name", signUpForm("name"))

      <button type="submit">Sign Up</button>

    }

    <ul class="alternate-actions">
      <li><a href="@controllers.core.routes.SessionController.form()">Sign In</a></li>
    </ul>

  </div>

}
