@core.layout("index") {

  <div class="masthead">
    <div class="poster">
      <h1>Gran Mal</h1>
      <h2>App Log</h2>
    </div>
  </div>

  @views.html.core.nav()

  <ol class="apps">
    <li>
      <a href="#">
        <p class="name">Haikunst!</p>
        <p class="description">Like Twitter. But with haikus. And vaguely German?</p>
      </a>
    </li>
  </ol>

  <div class="footer">
    &copy; 2014 Kevin Hyland
  </div>

  <script>
    require(['core/index'], function (index) {
      index.init()
    })
  </script>

}
