@import "../../../../../app/assets/stylesheets/lib/base.less";
@import "../../../../../app/assets/stylesheets/lib/lib.less";
@import "../../../../../app/assets/stylesheets/lib/form.less";

.dialog-header {
  .header;
}

form.selector {
  .bottom-shadow;

  margin-bottom: 0;
  .field { margin-bottom: 0; }
}

ol.authors, ol.books {
  .standard-list;
}

ol.notes {
  .unstyled-list;

  li {
    .list-item;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      text-decoration: none;
      color: @default-text-color;
      display: block;

      &.user {
        margin-bottom: 0;

        span.name {
          color: @lightest-text-color;
        }
      }

      &.book {
        margin-top: 0;
        color: @light-text-color
      }
    }

    p.content {
      font-size: 20px;
    }
  }
}

.split {
  .clearfix;

  .left-split,
  .right-split {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }

  .left-split {
    padding-right: 10px;
  }

  .right-split {
    padding-left: 10px;
  }
}
