@import "../../../../../app/assets/stylesheets/lib/base.less";
@import "../../../../../app/assets/stylesheets/lib/lib.less";
@import "../../../../../app/assets/stylesheets/lib/form.less";

.dialog-header {
  .header;
}

form.selector {
  .bottom-shadow;

  margin-bottom: 0;
  .field { margin-bottom: 0; }
}

ol.authors {
  .unstyled-list;

  li {
    .list-item;
    border-bottom: 1px solid #DDD;
  }
}
