@(haikuForm: Form[controllers.haikunst.Application.HaikuData])

@import com.granmal.helpers.FormHelper._

@views.html.haikunst.layout {

  @views.html.haikunst.header()

  @views.html.helper.form(action = controllers.haikunst.routes.Application.create()) {

    @textField("Fünf", haikuForm("one"))

    @textField("Sieben", haikuForm("two"))

    @textField("Fünf", haikuForm("three"))

    <button type="submit">Verkünden!</button>

    <ul class="alternate-actions">
      <li><a href="@controllers.haikunst.routes.Application.index">Cancel</a></li>
    </ul>

  }

}
