@(signUpForm: Form[controllers.AccountController.SignUpData])(implicit _flash: Flash)

@import com.granmal.helpers.FormHelper._

@views.html.layout {

  @views.html.nav()

  <div class="form-group">

    @com.granmal.views.html.flash.form()

    @helper.form(action = controllers.routes.AccountController.create()) {

      @emailField("Email", signUpForm("email"))

      @passwordField("Password", signUpForm("password"))

      @textField("Username", signUpForm("handle"))

      @textField("Full Name", signUpForm("name"))

      <button type="submit">Sign Up</button>

    }

    <ul class="alternate-actions">
      <li><a href="@controllers.routes.SessionController.form()">Sign In</a></li>
    </ul>

  </div>

}
