<div class="header">
  <h1>Gran Mal</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

{{#if account}}
  <ul class="menu">
    <li class="header">Signed in as <strong>{{account.name}}</strong></li>
    <li><a class="sign-out" href="#">Sign Out</a></li>
  </ul>
{{else}}
  <ul class="menu">
    <li><a class="sign-in" href="#">Sign In</a></li>
  </ul>
{{/if}}
