<div class="header">
  <h1>Gran Mal</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

<ul class="menu">
  {{#if account}}
    <li class="header">Signed in as <strong>{{account.name}}</strong></li>
    <li><a class="sign-out" href="#">Sign Out</a></li>

    {{#unless account.oauth.useless.linked}}
      <li><a href="{{oauth.useless.url}}">Link Useless</a></li>
    {{/unless}}
  {{else}}
    <li><a class="sign-in" href="#">Sign In</a></li>
  {{/if}}
</ul>
