<div class="header">
  <h1>Gran Mal</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

<form action="/sign-up" method="POST" >

  <div class="field">
    <input type="email" name="email" id="email" placeholder="Email">
  </div>

  <div class="field">
    <input type="password" name="password" id="password" placeholder="Password">
  </div>

  <div class="field">
    <input type="text" name="handle" id="handle" placeholder="Username">
  </div>

  <div class="field">
    <input type="text" name="name" id="name" placeholder="Full Name">
  </div>

  <button type="submit">Sign Up</button>

  <ul class="alternate-actions">
    <li><a class="sign-in" href="#">Sign In</a></li>
  </ul>

</form>
