<div class="header">
  <h1>Gran Mal</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

<form action="/sign-in" method="POST" >

  {{#field email}}
    <input type="email" name="email" placeholder="Email" value="{{this}}">
  {{/field}}

  {{#field password}}
    <input type="password" name="password" placeholder="Password" value="{{this}}">
  {{/field}}

  <button type="submit">Sign In</button>

  <ul class="alternate-actions">
    <li><a class="sign-up" href="#">Sign Up</a></li>
  </ul>

</form>
