@container-width-max: 768px;

.container {
  width: @container-width-max;
  margin: 0 auto;

  &.affix-header .nav {
    position: fixed;
    top: 0;
    width: @container-width-max;
  }
}

@media all and (max-width: @container-width-max) {
  .container {
    width: 100%;

    &.affix-header .nav {
      width: 100%;
    }
  }
}

.masthead {
  margin: 20px 20px 0 20px;
  height: 100%;
  background: url(/assets/images/bad-ass.jpg) no-repeat center center local;
  background-size: @container-width-max auto;
}

.nav {
  text-align: center;
  padding: 20px 0;
  background-color: grey;

  p {
    margin: 0;
  }
}
