@container-width-max: 768px;
@container-margin: 20px;

.container {
  width: @container-width-max;
  margin: 0 auto;
  padding-top: @container-margin;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

@media all and (max-width: @container-width-max) {
  .container {
    width: 100%;
    border-width: 0;
  }
}

.masthead {
  margin: 0 @container-margin;
  height: 100%;
  background: url(/assets/images/bad-ass.jpg) no-repeat center top -70px local;
  background-size: (@container-width-max - (2 * @container-margin)) auto;
}

.nav {
  padding: @container-margin;
  border-bottom: 1px solid #DDD;

  .container.affix-header & {
    position: fixed;
    top: 0;
    width: (@container-width-max - (2 * @container-margin));
    background-color: #FFF;
  }

  @media all and (max-width: @container-width-max) {
    .container.affix-header & {
      width: 100%;
    }
  }
}

ol.list {
  padding: 0;
  margin: 0;
  list-style: none;

  li a {
    display: block;
    width: (@container-width-max - (2 * @container-margin));
    padding: (2 * @container-margin) @container-margin;
    text-decoration: none;
    border-bottom: 1px solid #DDD;

    @media all and (max-width: @container-width-max) {
      & {
        width: inherit;
      }
    }

    &:hover {
      background-color: #EEE;
    }

    p.name {
      font-size: 1.2em;
      color: #333;
      margin: 0;
    }

    p.description {
      color: #777;
      margin: 0;
    }
  }
}
