@import "../base.less";
@import "../lib.less";
@import "../form.less";

.container {
  .container.affix-nav();

  .haikus {
    .unstyled-list();

    padding: 40px 20px;

    .haiku {
      margin-bottom: 40px;

      &.odd {
        text-align: right;
      }

      .line {
        font-size: 2em;
        margin-bottom: 10px;
      }

      .author {
        margin-top: 20px;
        font-size: 1.4em;
        color: #777;
      }
    }
  }
}
