@import "../base.less";
@import "../lib.less";

.haikus {
  .unstyled-list();

  padding: 20px;

  .haiku {
    margin-bottom: 20px;

    .line {
      font-size: 1.2em;
    }

    .author {
      color: #777;
      margin-top: 10px;
    }
  }
}
