@import "../base.less";
@import "../lib.less";

.container {
  padding-top: 74px;

  .nav {
    .nav.affixed()
  }

  .haikus {
    .unstyled-list();

    padding: 40px 20px;

    .haiku {
      margin-bottom: 40px;

      .line {
        font-size: 2em;
        margin-bottom: 10px;
      }

      .author {
        margin-top: 2  0px;
        font-size: 1.4em;
        color: #777;
      }
    }
  }
}
