@(haikuForm: Form[controllers.haikunst.HaikunstController.HaikuData])

@views.html.haikunst.layout {

  @views.html.haikunst.nav()

  <div class="form-group">
    @if(haikuForm.hasErrors) {
      <div class="alert">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        @FormHelper.displayFirstError(haikuForm)
      </div>
    }

    @helper.form(action = controllers.haikunst.routes.HaikunstController.create()) {
      <div class="input-group">
        <input type="text" name="one" placeholder="Fünf">
      </div>

      <div class="input-group">
        <input type="text" name="two" placeholder="Sieben">
      </div>

      <div class="input-group">
        <input type="text" name="three" placeholder="Fünf">
      </div>

      <button type="submit">Verkünden!</button>
    }

    <ul class="alternate-actions">
      <li><a href="@controllers.haikunst.routes.HaikunstController.index">Cancel</a></li>
    </ul>
  </div>

}
