@(haikuForm: Form[controllers.haikunst.HaikunstController.HaikuData])

@import helpers.FormHelper._

@views.html.haikunst.layout {

  @views.html.haikunst.nav()

  <div class="form-group">
    @helper.form(action = controllers.haikunst.routes.HaikunstController.create()) {

      @textField("Fünf", haikuForm("one"))

      @textField("Sieben", haikuForm("two"))

      @textField("Fünf", haikuForm("three"))

      <button type="submit">Verkünden!</button>

    }

    <ul class="alternate-actions">
      <li><a href="@controllers.haikunst.routes.HaikunstController.index">Cancel</a></li>
    </ul>
  </div>

}
