@(optAccount: Option[com.granmal.models.account.PublicAccount])

@import play.api.libs.json._
@import com.granmal.models.account.PublicAccount.Json._

@com.granmal.views.html.layout.simpleLayout(None, "Gran Mal")(controllers.routes.Assets.versioned) {

  <div id="main">
  </div>

  <script type="text/javascript">
    var app = {};

    @optAccount.map { account =>
      app.account = @Html(Json.stringify(Json.toJson(account)))
    }

    var require = {
      config: {
        'app': app
      }
    };
  </script>

}
