@main {

  <div class="masthead"></div>

  <div class="nav">
    <h1>Gran Mal</h1>
  </div>

  <ol class="list">
    <li>
      <a href="#">
        <p class="name">Haikunst</p>
        <p class="description">Like Twitter. But with haikus. And vaguely German?</p>
      </a>
    </li>

    <li>
      <a href="#">
        <p class="name">Sidebar</p>
        <p class="description">A social network for cowards.</p>
      </a>
    </li>

    <li>
      <a href="#">
        <p class="name">Crawl</p>
        <p class="description">Crawl crawl crawl.</p>
      </a>
    </li>
  </ol>

}
