@main {

  <div class="masthead">
    <h1>Gran Mal</h1>
    <h2>App Log</h2>
  </div>

  <div class="nav">
    <p>Go</p>
  </div>

  <ol class="list">
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
    <li>This</li>
    <li>That</li>
    <li>The Other</li>
  </ol>

}
