@com.granmal.views.html.layout.baseLayout("Gran Mal") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at(s"stylesheets/core/main.css")">
  @helper.requireJs(
    core = routes.Assets.at("javascripts/require.js").url,
    module = routes.Assets.at(s"javascripts/core/masthead").url
  )

} {

  <a href="/apps" class="masthead-link">
    <div class="masthead">
      <div class="poster">
        <h1>Gran Mal</h1>
        <h2>App Log</h2>
      </div>
    </div>
  </a>

} {

<!-- No footer for masthead -->

}
