@com.granmal.views.html.layout.baseLayout("Gran Mal") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at(s"stylesheets/main.css")">
  <script src="@routes.Assets.at("javascripts/require.js").url"
    data-main="@routes.Assets.at(s"javascripts/masthead").url">
  </script>

} {

  <a href="/apps" class="masthead-link">
    <div class="masthead">
      <div class="poster">
        <h1>Gran Mal</h1>
        <h2>App Log</h2>
      </div>
    </div>
  </a>

} {

<!-- No footer for masthead -->

}
