@import "../../../../../../app/assets/stylesheets/lib/base.less";
@import "../../../../../../app/assets/stylesheets/lib/lib.less";
@import "../../../../../../app/assets/stylesheets/lib/form.less";

.container {
  .container.affix-header();

  .haikus {
    .unstyled-list();

    padding: 40px 20px;

    .haiku {
      margin-bottom: 40px;

      &.odd {
        text-align: right;
      }

      .line {
        font-size: 2em;
        margin-bottom: 10px;
      }

      .author {
        margin-top: 20px;
        font-size: 1.4em;
        color: #777;
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
  }
}

.prompt {
  padding: 40px 20px;
  text-align: center;

  a {
    .link-button;
    .border-box-sizing;
    margin-top: 30px;
  }
}
