@import "../../../../../../app/assets/stylesheets/lib/base.less";
@import "../../../../../../app/assets/stylesheets/lib/lib.less";
@import "../../../../../../app/assets/stylesheets/lib/card.less";
@import "../../../../../../app/assets/stylesheets/lib/form.less";

.haikus {
  .card-list;

  li {
    .haiku {
      padding: 4 * @card-base-spacing;

      .line {
        font-size: 2em;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .author {
      border-top: 1px solid #EEE;
      color: #888;
      padding: 2 * @card-base-spacing;

      .name {
        font-size: 1.4em;
      }
    }

    .actions {
      border-top: 1px solid #EEE;
      padding: 2 * @card-base-spacing;
      font-size: 1.2em;

      a {
        color: #888;
        text-decoration: none;
        margin-right: 10px;

        .glyphicon {
          margin-right: 5px;
        }
      }
    }
  }
}

main.form {
  background-color: #FFF;
  border-left: 1px solid @default-border-color;
  border-right: 1px solid @default-border-color;
  border-bottom: 1px solid @default-border-color;
}
